# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# Produced vignettes
vignettes/*.html
vignettes/*.pdf
inst/doc/*
.Rproj.user
*.Rproj
*.DS_Store
# Side-effects of tests
tests/testthat/Rplots.pdf
# Temporary files
temp
inst/doc
