# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# Produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
*.Rproj
*.DS_Store
# Side-effects of tests
tests/testthat/Rplots.pdf
# Temporary files
temp
# Machine-specific files
inst/models/*.stanrda
inst/models/*.stanrds
inst/doc
doc
Meta
