# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
inst/doc/*
.Rproj.user
*.Rproj
*.DS_Store

# test side-effects
tests/testthat/Rplots.pdf